<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css"/>
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>   
    <title>Fields of May</title>
</head>
<body>

    <div class="container">
        <!-- <h1>Fileds of May</h1> -->
    <!-- <h1 class="mb-4"> <%= articles %> </h1> -->
    <div class=" mt-4 ">
        <a href="/articles/about" class="btn btn-primary"> About </a>
    </div>



    <section className={
        styles.centeredElements
    }>


    <!-- <div class="submenu">
        <a href="./" class="linkTop">Fields of May
      </a>

      <a href="./witness-seminar-in-seili" class="linkTop1">Witness Seminar in Seili
      </a>

      <a class="linkTop2" href="./a-witness-seminar-how-to">A Witness Seminar How-To</a>

      <a class="linkTop3"  href="/articles/about">About</a>
  </div> -->



    </section>


    
    <!-- flex table-cell w-80 -->
<!-- <div class=" ">
    <% articles.forEach(article => { %>
        <div class=" mt-2 text-muted ">
          <div class="body">
           <h4 class="title "><%= article.title %></h4>
        </div>
      <% }) %>
    </div>
</div> -->

<script type="text/javascript" href="script.js"></script>
</body>
</html>